<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>
<body>
    <div class="element-div">
        <p>Viajar</p>
    </div>

    <div class="container">
        <p class="frase">Montanhas muito bonitas</p>
        <img class="montanha" src="https://images.unsplash.com/photo-1480497490787-505ec076689f?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">

    </div>

    <div class="container-cap">
        <div class="item">
            <img class="img" src="../static/imagens/bruxelas.avif"><h4>Bruxelas</h4>
        </div>

        <div class="item">
            <img class="img" src="../static/imagens/milao.avif"><h4>Milão</h4>
        </div>

        <div class="item">
            <img class="img" src="../static/imagens/londres.avif"><h4>Londres</h4>
        </div>

        <div class="item">
            <img class="img" src="../static/imagens/praga.avif"><h4>Praga</h4>
        </div>

        <div class="item">
            <img class="img" src="../static/imagens/roma.avif"><h4>Roma</h4>
        </div>

        <div class="item">
            <img class="img" src="../static/imagens/paris.avif"><h4>Paris</h4>
        </div>

        <div class="item">
            <img class="img" src="../static/imagens/lisboa.avif"><h4>Lisboa</h4>
        </div>

        <div class="item">
            <img class="img" src="../static/imagens/viena.avif"><h4>Viena</h4>
        </div>
        
        <div class="item">
            <img class="img" src="../static/imagens/budapeste.avif"><h4>Budapeste</h4>
        </div>
    </div>
</body>
</html>